$pink: #d9b4de;
$blue: #72aed4;

$font-family-base: 'Roboto', sans-serif; // add this line first before importing bootstrap
@import "~bootstrap/scss/bootstrap";

@mixin margenes($top, $bottom){
    margin-top: $top;
    margin-bottom: $bottom;
}

.jumbotron {
	background-color: $pink;
	color: black;
	margin-top: 30 px;
	margin-left: 30 px;
    @include margenes(20px, 0px);
}
.bin{
	background-color: $blue;
	
}

footer { 
	padding: 10px 10px 0 10px;
	background-color: $pink;
	margin-bottom: 0px;
	margin-top: 10px;
    @include margenes(10px, 0px);
}

.card-pame{
	flex: 1 300px;
	padding: 2px 0px 2px 0px;
	margin-top: 10px;
	margin: 10px;
}

.bin-ver{
	width: 100%;
}

.footer-address-icon{
	padding-right: 10px;
}

.tab-content{
	padding-top: 10px;
}